@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5rem;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	@apply text-gray-700 bg-gray-100;
}

.custom-img {
	object-fit: contain;
	width: 100% !important;
	position: static !important;
	height: unset !important;
}
